html,
body {
	height: 100%;
	width: 100%;
	margin: 0;
	line-height: 180%;
}

/* Header */
header {
	position: sticky;
}

nav {
	margin-right: 40px;
	width: 100%;
}

a {
	letter-spacing: 2px;
}

i {
	padding-right: 3px;
}

/* Parallax Content */

.parallax1 {
	background-image: url('../images/pic1.jpg');
	min-height: 100%;
}

.parallax2 {
	background-image: url('../images/safar-safarov-MSN8TFhJ0is-unsplash.jpg');
	min-height: 60%;
}

.parallax3 {
	background-image: url('../images/19901.jpg');
	min-height: 60%;
}

.parallax4 {
	background-image: url('../images/19922.jpg');
	min-height: 100%;
}

.parallax1,
.parallax2,
.parallax3,
.parallax4 {
	position: relative;
	opacity: .75;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

section {
	padding: 30px 50px;
}

h2 {
	text-align: center;
}

/* About Me Section */

p img {
	float: left;
	padding-right: 20px;
}

/* Portfolio */

/* Contact */

#contact div {
	display: flex;
	justify-content: space-around;
	margin: 20px 0px;
}

#contact div form {
	display: block;
}

input {
	border-radius: 3px;
}

textarea {
	border-radius: 3px;
	border-color: rgb(194, 192, 192);
	padding: 5px;
}

/* Footer */

footer {
	min-height: 30vh;
}

footer div {
	text-align: center;
}

/* Media Queries */

@media only screen and (max-width: 380px) {
	html,
	body {
		width: 100%;
	}

	nav {
		margin-right: 0px;
		width: 100%;
	}
}

@media only screen and (max-width: 1030px) {
	.col-sm-12 {
		padding: 0;
	}

	nav {
		width: 90%;
		padding: 0;
	}
}
