* {
	box-sizing: border-box;
}

html,
body {
	height: 100vh;
	width: 100vw;
	margin: 0;
	line-height: 180%;
	font-family: 'Lato', 'Open Sans';
}

p {
	font-size: 20px;
	letter-spacing: 1.5px;
}

/* ================ Header ================== */
header {
	/* position: sticky;
	top: 0px; */
}

nav {
	width: 100vw;
}

a {
	letter-spacing: 2px;
	font-size: 20px;
}

i {
	padding-right: 3px;
}

/* ================ Parallax Content ================ */

.parallax1 {
	background-image: url('../images/pic1.jpg');
	min-height: 100%;
}

.parallax2 {
	background-image: url('../images/safar-safarov-MSN8TFhJ0is-unsplash.jpg');
	min-height: 60%;
}

.parallax3 {
	background-image: url('../images/19901.jpg');
	min-height: 60%;
}

.parallax4 {
	background-image: url('../images/19922.jpg');
	min-height: 80%;
}

.parallax1,
.parallax2,
.parallax3,
.parallax4 {
	position: relative;
	opacity: .75;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

section {
	padding: 30px 50px;
}

h2 {
	text-align: center;
	font-family: 'Ubuntu', 'Open Sans';
	margin-bottom: 30px;
}

/* ================ About Me Section ================ */

p img {
	float: left;
	padding-right: 20px;
}

/* Portfolio */

col-sm-3 {
	margin-right: 15px;
}

#scrollTarget {
	overflow: scroll;
	/* width: auto; */
	margin-bottom: 25px;
}

div a .btn btn-primary {
	background-color: rgb(24, 23, 23);
}

/* ======================= Contact ==================== */
div .leftCol {
	padding: 10px 10px 10px 20px;
}

textarea {
	resize: none;
}

form .btn {
	width: 150px;
	color: white;
	font-size: 20px;
	margin-left: 15px;
}

form p {
	margin-left: 15px;
}

/* ===================== Footer ===================== */

footer {
	min-height: 30vh;
}

footer div {
	text-align: center;
}

/* ===================== Media Queries ===================  */

@media only screen and (max-device-width: 1100px) {
	html,
	body {
		width: 100%;
	}

	.parallax1,
	.parallax2,
	.parallax3,
	.parallax4 {
		background-attachment: scroll;
	}
}

@media only screen and (max-device-width: 400px) {
	html,
	body {
		width: 100%;
	}

	.parallax1,
	.parallax2,
	.parallax3,
	.parallax4 {
		background-attachment: scroll;
	}
}
